<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caronas - IFSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <header class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-10 col-sm-9">
                <h1>Caronas - IFSP</h1>
            </div>
            <div class="col-lg-2 col-sm-3">
                <button type="button" class="btn btn-outline-light dropdown-toggle container-fluid" data-toggle="dropdown">
                    Menu
                </button>
                <% if (hasSession) { %>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Início</a>
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/about">Sobre</a>
                    </div>
                <% } else { %>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Início</a>
                    <a class="dropdown-item" href="/signUp">Cadastro</a>
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/about">Sobre</a>
                </div>
                <% } %>
            </div>
        </div>
    </header>
    <main class="container-fluid p-3">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div id="map"></div>
            </div>
        </div>
        <div class="row justify-content-center p-3">
            <button class="btn btn-success col-md-9" onclick="addPost()">Adicionar postagem</button>
        </div>
        <% if (data.length) { %>
            <div class="row justify-content-center p-3">
                <% for (let i = 0; i < data.length; i++) { %>
                    <div id="<%= data[i].dataValues.post_id %>" class="card col-md-9 mb-3 p-3 shadow">
                        <h5 class="card-title">
                            <%= data[i].dataValues.User.dataValues.name %>
                        </h5>
                        <p class="card-text">Nº da matrícula: <%= data[i].dataValues.User.dataValues.n_matricula%></p>
                        <p class="card-text">Origem: <%= data[i].dataValues.origin%></p>
                        <p class="card-text">Destino: <%= data[i].dataValues.destiny%></p>
                        <p class="card-text">Contato: <a href="https://wa.me/<%= data[i].dataValues.contact %>"><%= data[i].dataValues.contact%></a></p>
                        <p class="card-text">Placa do carro: <%= data[i].dataValues.car_id %> </p>
                        <p class="card-text">Detalhes: <%= data[i].dataValues.description %></p>
                        <p class="card-text"><strong>AVISO: Verifique a placa do carro antes de entrar</strong></p>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div class="no-content row justify-content-center p-3">
                <div class="no-content-item col text-center">
                    <h2>Ninguém postou nada ainda!</h2>
                    <p>Seja o primeiro, basta ter uma conta aprovada para efetuar uma postagem.</p>
                </div>
            </div>
        <% } %>
    </main>
    <footer class="container-fluid p-3">
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Apoiadores</h3>
                <p>IFSP - Jacareí</p>
                <p>Tardelli Stekel</p>
            </div>
            <div class="col-md-4">
                <h3>Desenvolvedor</h3>
                <p>João Vitor Mâncio Chaves</p>
            </div>
            <div class="col-md-4">
                <h3>Idealização</h3>
                <p>João Vitor Mâncio Chaves</p>
                <p>Tardelli Stekel</p>
            </div>
        </div>
    </footer>
    <script src="./scripts/main.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="./scripts/map.js"></script>
    <script>
        var postsMarkers = <%- JSON.stringify(data) %>
        console.log(postsMarkers)

        const originIcon = L.icon({
            iconUrl: '/images/icons/local.png',
            iconSize: [38, 38],
            iconAnchor: [19, 38]
        })

        const flagIcon = L.icon({
            iconUrl: '/images/icons/flag-checkered.svg',
            iconSize: [38, 38],
            iconAnchor: [19, 38]
        })

        postsMarkers.forEach(element => {
            let markerOrigin = new L.LatLng(element.marker_origin_lat, element.marker_origin_lng)
            let marker = L.marker(markerOrigin, { icon: originIcon })
            .bindPopup(`Autor: ${element.User.name}<br> Contato: <a href="https://wa.me/55${element.contact}">${element.contact}</a> <br> <a href="#${element.post_id}">Ir até a postagem</a>`)

            marker.addTo(map)

            let markerDestiny = new L.LatLng(element.marker_destiny_lat, element.marker_destiny_lng)
            marker = L.marker(markerDestiny, { icon: flagIcon })
            .bindPopup(`Autor: ${element.User.name}<br> Contato: <a href="https://wa.me/55${element.contact}">${element.contact}</a> <br> <a href="#${element.post_id}">Ir até a postagem</a>`)

            marker.addTo(map)
        })
    </script>
</body>
</html>